<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>开收据系统-登录</title>

  <link href="/static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/static/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  {% if 'error' in globals() %}
  {% if len(error) > 0 %}
  <div class="modal fade" id="error_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div> 
          <div class="modal-body">{{error}}</div>
          <div class="modal-footer">
            <button class="btn btn-secondary cancel_btn" type="button" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
  {% end %}
  {% end %}
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">登录</div>
      <div class="card-body">
        <form action='/login' method="POST">
          {% raw xsrf_form_html()%}
          <div class="form-group">
            <label for="exampleInputEmail1">用户名</label>
            <input class="form-control" name="exampleInputEmail1" id="exampleInputEmail1" type="text" placeholder="Enter usernamel">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">密码</label>
            <input class="form-control" name="exampleInputPassword1" id="exampleInputPassword1" type="password" placeholder="Password">
          </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> 记住我</label>
            </div>
          </div>
          <input class="btn btn-primary btn-block" type="submit"  value="登录" >
        </form>
      </div>
    </div>
  </div>
  <script src="/static/js/vendor/jquery/jquery.min.js"></script>
  <script src="/static/js/vendor/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/static/js/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/static/js/myjquery.js"></script>
</body>

</html>
